{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link href="static/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <div class="title">
        <h3>Selezionare un file alla volta dal file system tramite il tasto "sfoglia" e in seguito</h3>
        <h3>caricarlo cliccando sul tasto "upload file"</h3>
        <h3>Per navigare tra le pagine utilizzare il menu laterale</h3>
        <h3>Per impostare il numero di slot per le disponibilità modificare il numero sulla riga dei commissari</h3>
    </div>
        <div class="upload_file" style="line-height: 2;">
            <input type="checkbox" id="Laureandi" name="Laureandi" value="Laureandi">
            <label for="Laureandi">Laureandi</label><br>
                <div class="upload_file_laureandi">
                    <div>
                        <form action="upload_laureandi" method="POST" enctype="multipart/form-data">
                            <div class="upload-btn-wrapper">
                                <input type="file" name="myfilel" id="myfilel" />
                                <button class="btn btn-primary btn-sm">Upload file laureandi</button>
                            </div>
                        </form>
                    </div>
                </div>
            <input type="checkbox" id="Professori" name="Professori" value="Professori">
            <label for="Professori">Professori</label><br>
                <div class="upload_file_commissari">
                    <div>
                        <form action="upload_commissari" method="POST" enctype="multipart/form-data">
                            <div class="upload-btn-wrapper">
                                <input type="file" name="myfilec" id="myfilec" />
                                <input class="n_slot" type="text" name="n_disponibilita" value={{ n_disp }}>
                                <button class="btn btn-primary btn-sm">Upload file commissari</button>
                            </div>
                        </form>
                    </div>
                </div>
            <div style="margin: 20%;">
                <form action="delete" method="POST" enctype="multipart/form-data">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-danger btn-sm">Delete Files</button>
                    </div>
                </form>
            </div>
        </div>
    <script>
        $(document).ready( function () {
            // Check
            let nome = '{{ nomeFile }}';
            console.log(nome);
            let condL = '{{ segnatoL }}';
            console.log(condL);
            if ((nome === "laureandi.csv" || nome === "laureandi.xlsx") || (condL === 'True') ) {
                $("#Laureandi").prop("checked", true);
            }
            // Check
            let condP = '{{ segnatoP }}';
            console.log(condP);
            if ((nome === "DisponibilitaCommissari.csv" || nome === "DisponibilitaCommissari.xlsx") || (condP === 'True')) {
                $("#Professori").prop("checked", true);
            }
        });
    </script>
{% endblock content %}